<div class="container">
  <div class="row">
    <div *ngIf="updateMsg" class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Success!</strong> Your Record Update successfully
    </div>
  
  <div class="col-md-12 center">
  <h4>Book List</h4>
</div>

<ag-grid-angular style="height: 390px;margin: auto; width:100%"
class="ag-theme-balham" 
[rowData]="rowData | async" 
[columnDefs]="columnDefs" 
[pagination]="true" 
[paginationAutoPageSize]="50" 
[gridOptions]="gridOptions" 
[animateRows]="true" 
rowSelection= "multiple"
[rowSelection]="rowSelection" 


enableColResize 
enableSorting 
enableFilter="true"
floatingFilter="true"
>

</ag-grid-angular>

  <div class="container center2">
   <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
      <button (click)="addTitle()" data-toggle="modal" data-target="#formModal" class="bt-add"><img src="../../../assets/image/add.png" alt=""> Add</button>
      <button (click)="onRemoveSelected()"  [disabled]=""  class="bt-add"><img src="../../../assets/image/delete.gif" alt=""> Delete</button>
      <button (click)="auhtorEdit()"  [disabled]="" data-toggle="modal" data-target="#formModal"   class="bt-add"><img src="../../../assets/image/edit.gif" alt=""> Edit</button>

     </div>
     <div class="col-md-3"></div>

    </div>
  </div>
   
 </div>
</div>


   