
 <div class="container">
<div class="center">
<h4>Class Master</h4>
</div>
<table>
  <tr>
    <th *ngFor="let col of columns"> 
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let char of characters | async;let i = index">
    <td> 
      {{i+1}}
    </td>
    <td>{{char.Class}}</td>
    <td>{{char.Weight}}</td>
    <td>{{char.Strength}}</td>
    <td><img src="./assets/image/delete.gif">|<img src="./assets/image/edit.gif"></td>
         

  </tr>
  
</table>
<div class="center2">
 <div class="add"><button class="bt-add"><img src="../../../assets/image/add.png" alt=""> Add</button></div>
 <div class="arrow">
   <button><<</button>
   <button><</button>
   <button>.</button>
   <button>.</button>
   <button>></button>
   <button>>></button>
 </div>
</div>
</div>