
.container{
    margin-top: 30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  th{
   background-color:#ecc7c7b0;
   text-align: center;
  }
  .center{
    width:100%;
    height:30px;
    background: linear-gradient(#de1325 0%, #900916 100%);
    text-align:center;
    color:#fff
  }
  .center2{
    width: 100%;
    height: 71px;
    background-color: #c3b3b378;
    text-align: center;
    margin-top: 3px;
    padding: 18px;
    
  }
  .add{
    float: left;
    width: 401px;
    padding: 6px;
   }
  .arrow{
    border: 1px solid black;
    width: 197px;
    height: 36px;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
   
  }
  .bt-add{
   float:right
  }