<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a href="#" class="nav-item nav-link">Current Academic Year:2012-2013</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
           <a href="#" class="nav-item nav-link active"><span class="fa fa-star"></span>&nbsp;Dashboard</a>
        </div>
        <div class="navbar-nav ">
            <a href="#" class="nav-item nav-link"><span class="fa fa-comments"></span>&nbsp;Widget</a>
            <a href="#" class="nav-item nav-link"><span class="fa fa-file"></span>&nbsp;Options</a>
          </div>
          <div class="navbar-nav">
            <a href="#" class="nav-item nav-link">Academic Year View</a>
            <select class="nav-select">
              <option value="volvo" selected>2012-2013</option>
              <option value="saab">2014-2015</option>
              <option value="vw">2016-2017</option>
              <option value="audi">2018-2019</option>
            </select>
          </div>
    </div>
  </nav>

<div class="container-fluid">
<div class="row">
<div class="side-nav col-md-2">
  <div class="container">
    <h3 style="color:red">School<span style="color: blue">Admin</span></h3>
    <p style="text-align: right;font-family:fantasy;margin-top:-11px">Library Edition</p>
  </div>
  <ul>
    <li (click)="toggleEdit()"><a href="#">Home</a><i class="fa fa-angle-double-down"></i>
         <ul *ngIf=isEdit>
           <li><i class="fa fa-users fa-xs"></i>&nbsp;<a href="#">Staff</a></li>
           <li><i class="fa fa-user fa-xs"></i>&nbsp;<a href="#">about</a></li>
           <!-- <li><a href="#">about</a></li>
           <li><a href="#">about</a></li> -->

         </ul>
    </li>
    <li><a href="#">Home</a><i class="fa fa-angle-double-down"></i></li>
    <li><a href="#">Home</a><i class="fa fa-angle-double-down"></i></li>
    <li><a href="#">Home</a><i class="fa fa-angle-double-down"></i></li>
    <li><a href="#">Home</a><i class="fa fa-angle-double-down"></i></li>
  </ul>
  <div class="container">
    <p style="font-family:Sofia">Developed By</p>
  </div>
</div>

<div class="col-md-10" style="text-align:center;height: 100%;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">School Master</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Switch Academic Year</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Default Setting</a>
    </li>
  </ul>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img src="../../../assets/image/lms_banner.jpg" height="139" width="362"/>
  <router-outlet></router-outlet>
</div>
</div>
</div>
<footer>
     <div class="row">
      <div class="col-md-3">
      <p style="text-align: left;">User: Admin  :: &nbsp;&nbsp;{{now | date:'medium'}}</p>
      </div>
      <div class="col-md-9">
         <p>Copyright 2009-2012 MarvelSoft &nbsp;&nbsp; <a href="#">support.marvelsoft.co.in</a>&nbsp; <a href="#">www.marvelsoft.co.in</a> &nbsp;&nbsp; Helpline: +99-00-999 &nbsp;&nbsp; Version: 5.0.345</p>
      </div>
    </div>
</footer>

