<div class="banner">
<div class="center" >
	<form id="login-form">

		<fieldset>
    <label for="j_username">Username </label> <input type="text" name="j_username" /><br>
		<label for="j_password">Password: </label> <input  type="password"		name="j_password" /><br>
				
		<label for="_spring_security_remember_me" >  RememberMe:</label>
		 <input type="hidden" name="loginType" value="widget"  style="margin: 12px 0 0 -2px;"/>	 
		 <input type="checkbox" name="_spring_security_remember_me"  style="margin: 12px 0 0 -2px;"/>
	    <br/>
		<input  type="submit" id="login" value="Login"  name="commit" style="margin: 2px 0 0 250px;width:100px" />		
		</fieldset>		
			<div class="rich-messages" style="color: red;">Invalid Username or password</div>
	</form>
</div>
<p style="text-align: center;">	 <br/><br/><br/><br/><br/><br/><br/>#384, 19th G main 1st N Block Rajajinagar Bangalore - 560010<br/>
  email:
 <a href="mailto:info@marvelsoft.co.in"> info@marvelsoft.co.in</a> website:
 <a href="http://www.marvelsoft.co.in">www.marvelsoft.co.in</a> <br/> 	
</p>
</div>


