.banner{


    /* background:url('') top center no-repeat; */
    font-family: Georgia, serif;
    background: url(/assets/image/login-page-bg.jpg) top center no-repeat #c4c4c4;
    color: #3a3a3a;
    height: 100%;
}


* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}
.center{
    margin-left: auto;
    margin-right: auto;
	width: 426px;
	text-align: center
}
#login-form {
	width: 406px;
    padding-top: 145px
}
legend {
	display: none;
	
}

fieldset {
	border: 0;
	margin-top: 8px;
}

label {
	width: 115px;
	text-align: right;
	float: left;
	font-size: 16px;
}

input {
	width: 220px;
	display: block;
	font-size: 18px;
	color: #3a3a3a;
	font-family: Georgia, serif;
	margin: auto
}

input[type=checkbox] {
	width: 20px;
	margin: 0;
	display: inline-block;
}

.button {
	/* background: url(images/button-bg.png) repeat-x top center; */
	border: 1px solid #999;
	border-radius: 5px;
	padding: 5px;
	color: black;
	font-weight: bold;
	border-radius: 5px;
	font-size: 13px;
	width: 70px;
}

.button:hover {
	background: white;
	color: black;
}

.rich-messages {
	position: inherit;
	width: 400;
	text-align:center;
	background-color: #ebf3fd; 
	padding: 5px;
	border: thin solid #99CCFF;
	line-height: 10px;
	margin: 0 auto;
	font-size: 12px;
}

.rich-messages-marker img {
	padding-right: 7px;
}